---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/es/Hero.astro";
import CardClientes from "../components/es/CardClientes.astro";
import CardCategorias from "../components/es/CardCategorias.astro";
import Footer from "../components/es/Footer.astro";
import Navbar from "../components/es/Navbar.astro";
import SlideNoticia from "../components/es/SlideNoticia.astro";
---

<Layout title="FEDE">
	<main class="relative">
		<Hero />
		<Navbar />
		<section
			id="tarjetas"
			class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 py-20 px-5 md:px-20 gap-5 max-w-[1500px] mx-auto"
		>
			<CardCategorias
				title="ECONOMÍA VERDE"
				subtitle="El Programa de la ONU para el Medio Ambiente (PNUMA) ha definido Economía Verde como “aquella economía que resulta en un mejor bienestar humano y equidad social.."
				classes="text-green-500"
				link=""
				imageLink="/images/economia-verde.webp"
			/>
			<CardCategorias
				title="ECONOMÍA AZUL"
				subtitle=" La economía azul es «la economía que reconoce la importancia de los mares y los océanos como motores de la economía por su gran potencial para la innovación y el crecimiento»."
				classes="text-slate-600"
				link=""
				imageLink="/images/economia-azul.webp"
			/>
			<CardCategorias
				title="ECONOMÍA DIGITAL"
				subtitle=" La economía digital, también conocida como ´Economía en Internet´ o ´Economía Web´, se refiere a una economía basada en la tecnología digital."
				classes="text-red-600"
				link=""
				imageLink="/images/economia-digital.webp"
			/>
			<CardCategorias
				title="ECONOMÍA TURÍSTICA"
				subtitle=" El turismo es una actividad que permite el desarrollo nacional, especialmente sobre la redistribución de la renta, sobre la balanza de pagos, sobre el nivel de empleo, el Producto Interno Bruto y sobre las economías regionales."
				classes="text-blue-600"
				link=""
				imageLink="/images/economia-turistica.webp"
			/>
		</section>

		<section
			class="px-0 md:px-20 mb-20 flex flex-col lg:flex-row gap-10 max-w-[1500px] mx-auto"
		>
			<img
				src="/images/reunion.jpg"
				alt="info"
				class="w-full lg:w-1/2 object-cover md:rounded-lg"
			/>
			<div class="w-full lg:w-1/2 p-5">
				<h3
					class="font-semibold text-3xl lg:text-4xl mb-5 text-green-600"
				>
					En Guinea Ecuatorial
				</h3>
				<p class="text-gray-800 lg:text-md text-pretty">
					Dicho Foro Económico para la Diversificación Económica será
					realizado próximamente en la República de Guinea Ecuatorial
					y contará con la participación de los socios al desarrollo,
					donde se presentará al tejido productivo nacional e
					internacional las oportunidades de inversión que ofrece la "
					Agenda Guinea Ecuatorial 2035' priorizando con mayor énfasis
					las cinco economías que son: a) economía Digital ;b)
					Economía verde; c)Economía Azul; Economía amarilla ; y
					Economía Turística
				</p>
				<p class="text-gray-800 lg:text-md mt-5 text-pretty">
					Lorem ipsum dolor sit amet consectetur, adipisicing elit.
					Quo architecto id sequi eveniet pariatur tempore illo
					praesentium recusandae libero provident, at doloremque saepe
					ut quae iusto exercitationem commodi. Incidunt perspiciatis
					libero molestiae architecto quidem cupiditate veritatis
					deleniti non in quisquam!
				</p>
				<p class="text-gray-800 lg:text-md mt-5 text-pretty">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit.
					Necessitatibus ullam laborum optio praesentium totam rerum
					aliquam repellendus temporibus dolorem nam.
				</p>
			</div>
		</section>

		<section class="px-0 md:px-20 mb-36 max-w-[1500px] mx-auto">
			<h3 class="text-center text-4xl mt-10 uppercase">
				¿Por qúe elegirnos?
			</h3>
			<div
				class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 w-full mt-14"
			>
				<article class="rounded-lg flex flex-col items-center">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="text-white text-center size-10 bg-green-500 rounded-full p-1 mb-3"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path d="M7 12l5 5l10 -10"></path><path
							d="M2 12l5 5m5 -5l5 -5"></path></svg
					>

					<h3 class="text-xl font-semibold">Lorem Ipsum</h3>
					<p class="text-sm text-gray-700 text-center">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Possimus, sed?
					</p>
				</article>
				<article class="rounded-lg flex flex-col items-center">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="text-white text-center size-10 bg-green-500 rounded-full p-1 mb-3"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path d="M7 12l5 5l10 -10"></path><path
							d="M2 12l5 5m5 -5l5 -5"></path></svg
					>

					<h3 class="text-xl font-semibold">Lorem Ipsum</h3>
					<p class="text-sm text-gray-700 text-center">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Possimus, sed?
					</p>
				</article>
				<article class="rounded-lg flex flex-col items-center">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="text-white text-center size-10 bg-green-500 rounded-full p-1 mb-3"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path d="M7 12l5 5l10 -10"></path><path
							d="M2 12l5 5m5 -5l5 -5"></path></svg
					>

					<h3 class="text-xl font-semibold">Lorem Ipsum</h3>
					<p class="text-sm text-gray-700 text-center">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Possimus, sed?
					</p>
				</article>
				<article class="rounded-lg flex flex-col items-center">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="text-white text-center size-10 bg-green-500 rounded-full p-1 mb-3"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path d="M7 12l5 5l10 -10"></path><path
							d="M2 12l5 5m5 -5l5 -5"></path></svg
					>

					<h3 class="text-xl font-semibold">Lorem Ipsum</h3>
					<p class="text-sm text-gray-700 text-center">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Possimus, sed?
					</p>
				</article>
			</div>
		</section>
		<h3
			class="text-center text-4xl mt-10 uppercase mb-10 text-green-500 font-semibold"
		>
			Últimas noticias
		</h3>
		<section class="px-5 md:px-20 mb-20 gap-5 max-w-[1500px] mx-auto">
			<SlideNoticia />
		</section>
		<section class="px-5 md:px-20 mb-20 max-w-[1500px] mx-auto">
			<h3
				class="text-center text-4xl mt-10 uppercase text-green-500 font-semibold"
			>
				Nuestros Colaboradores
			</h3>
			<div class="grid grid-cols-1 items-center gap-5 mt-10">
				<CardClientes />
			</div>
		</section>
		<Footer />
	</main>

	<script
		is:inline
		src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"
	></script>
</Layout>

<style></style>
