---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/es/Hero.astro";
import CardClientes from "../components/es/CardClientes.astro";
import CardCategorias from "../components/es/CardCategorias.astro";
import Footer from "../components/es/Footer.astro";
import Navbar from "../components/es/Navbar.astro";
import SlideNoticia from "../components/es/SlideNoticia.astro";
import PostNoticia from "../components/es/PostNoticia.astro";

---

<Layout title="FEDE">
	<main class="relative">
		<Hero />
		<Navbar />
		<section
			id="tarjetas"
			class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 py-20 px-5 md:px-20 gap-5 max-w-[1500px] mx-auto"
		>
			<CardCategorias
				title="ECONOMÍA VERDE"
				subtitle="El Programa de la ONU para el Medio Ambiente (PNUMA) ha definido Economía Verde como “aquella economía que resulta en un mejor bienestar humano y equidad social.."
				classes="text-green-500"
				link=""
				imageLink="/images/economia-verde.webp"
			/>
			<CardCategorias
				title="ECONOMÍA AZUL"
				subtitle=" La economía azul es «la economía que reconoce la importancia de los mares y los océanos como motores de la economía por su gran potencial para la innovación y el crecimiento»."
				classes="text-blue-600"
				link=""
				imageLink="/images/economia-azul.webp"
			/>
			<CardCategorias
				title="ECONOMÍA DIGITAL"
				subtitle=" La economía digital, también conocida como ´Economía en Internet´ o ´Economía Web´, se refiere a una economía basada en la tecnología digital."
				classes="text-red-600"
				link=""
				imageLink="/images/economia-digital.webp"
			/>
			<CardCategorias
				title="ECONOMÍA TURÍSTICA"
				subtitle=" El turismo es una actividad que permite el desarrollo nacional, especialmente sobre la redistribución de la renta, sobre la balanza de pagos, sobre el nivel de empleo, el Producto Interno Bruto y sobre las economías regionales."
				classes="text-slate-600"
				link=""
				imageLink="/images/economia-turistica.webp"
			/>
			<CardCategorias
				title="ECONOMÍA AMARILLA"
				subtitle="  La economía amarilla pone el foco en la tecnificación de los procesos productivos mediante la ciencia y la tecnología y requiere vigilancia para evitar que genere desequilibrios sociales y desempleo."
				classes="text-yellow-400"
				link=""
				imageLink="/images/economiamararila.webp"
			/>
		</section>

		<h3
		class="text-center text-4xl mt-10 uppercase mb-10 text-green-500 font-semibold"
	>
		Últimas noticias
	</h3>
	<section class="px-5 md:px-20 mb-20 gap-5 max-w-[1500px] mx-auto">
		<a href="/noticias">
			<SlideNoticia />
		</a>
	</section>



		<section class="px-0 md:px-20 mb-36 max-w-[1500px] mx-auto">
			<h3 class="text-center text-4xl mt-10 uppercase">
				CONTACTANOS
			</h3>
			<div
				class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 w-full mt-14"
			>
				<article class="rounded-lg flex flex-col items-center">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="text-white text-center size-10 bg-green-500 rounded-full p-1 mb-3"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path d="M7 12l5 5l10 -10"></path><path
							d="M2 12l5 5m5 -5l5 -5"></path></svg
					>

					<h3 class="text-xl font-semibold">Lorem Ipsum</h3>
					<p class="text-sm text-gray-700 text-center">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Possimus, sed?
					</p>
				</article>
				<article class="rounded-lg flex flex-col items-center">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="text-white text-center size-10 bg-green-500 rounded-full p-1 mb-3"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path d="M7 12l5 5l10 -10"></path><path
							d="M2 12l5 5m5 -5l5 -5"></path></svg
					>

					<h3 class="text-xl font-semibold">Lorem Ipsum</h3>
					<p class="text-sm text-gray-700 text-center">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Possimus, sed?
					</p>
				</article>
				<article class="rounded-lg flex flex-col items-center">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="text-white text-center size-10 bg-green-500 rounded-full p-1 mb-3"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path d="M7 12l5 5l10 -10"></path><path
							d="M2 12l5 5m5 -5l5 -5"></path></svg
					>

					<h3 class="text-xl font-semibold">Lorem Ipsum</h3>
					<p class="text-sm text-gray-700 text-center">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Possimus, sed?
					</p>
				</article>
				<article class="rounded-lg flex flex-col items-center">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="text-white text-center size-10 bg-green-500 rounded-full p-1 mb-3"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path d="M7 12l5 5l10 -10"></path><path
							d="M2 12l5 5m5 -5l5 -5"></path></svg
					>

					<h3 class="text-xl font-semibold">Lorem Ipsum</h3>
					<p class="text-sm text-gray-700 text-center">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Possimus, sed?
					</p>
				</article>
			</div>
		</section>

		<section class="px-5 md:px-20 mb-20 max-w-[1500px] mx-auto">
			<h3
				class="text-center text-4xl mt-10 uppercase text-green-500 font-semibold"
			>
				Nuestros Colaboradores
			</h3>
			<div class="grid grid-cols-1 items-center gap-5 mt-10">
				<CardClientes />
			</div>
		</section>

		

		<Footer />
	</main>

	<script
		is:inline
		src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"
	></script>
</Layout>

<style></style>
