---
import Calendar from "../icons/Calendar.astro";

interface Props {
    imgSrc: string;
    title: string;
    subtitle: string;
}

const { imgSrc, subtitle, title } = Astro.props;
---

<article class="">
    <img src={imgSrc} alt="" class="lg:rounded-xl object-cover w-full h-72" />
    <div class="px-5 lg:px-0">
        <a href="" class="group">
            <h3
                class="text-green-700 text-3xl mt-5 text-pretty group-hover:underline"
            >
                {title}
            </h3>
        </a>
        <p class="mt-2 text-md text-pretty">
            {subtitle}
        </p>
        <div class="flex flex-col-reverse gap-y-5 justify-between mt-5">
            <a
                href=""
                class="bg-green-600 text-white px-10 py-2 rounded-md hover:bg-green-700 transition-colors text-center hover:scale-[1.03]"
                >Leer noticia</a
            >
            <div class="flex items-center gap-x-2">
                <Calendar class="size-6 my-auto" />
                <p class="text-green-500 font-semibold">17/04/2024</p>
            </div>
        </div>
    </div>
</article>
