<header class="relative">
    <div
        class="bg-gradient-to-b md:bg-gradient-to-r from-black to-transparent z-20 h-screen absolute inset-0 flex items-center p-0 md:px-20 text-center md:text-left"
    >


        <div class="">

            <div class="">
                <a href="#" class="">
                    <img
                        class=" size-20 "
                        src="/images/Logo fede.svg"
                        alt="logo fede"
                    />
                </a>
                <h1
                    class="text-4xl  sm:text-5xl lg:text-7xl text-green-500 uppercase font-semibold"
                >
                FEDE 2035
                
                </h1>
                <h2 class=" text-3xl  text-green-500 uppercase font-semibold">Foro Económico para la Diversificación Económica</h2> 
            </div>


            <p
                class="text-white text-md md:text-lg w-full px-10 md:px-0 md:w-1/2 mt-5"
            >
            La FEDE2035 es un evento pilotado por el Ministerio de Planificación y Diversificacion Económica a través de la Agencia Nacional de Desarrollo de Guinea Ecuatorial ANDGE; Se presentará al tejido productivo nacional e internacional las oportunidades de inversión que ofrece la " Agenda Guinea Ecuatorial 2035'
            </p>
            <button
                class="text-white mt-10 bg-green-500 px-10 py-3 text-xl rounded-lg hover:bg-green-600 transition-colors"
            >
                Comenzar
            </button>
        </div>
    </div>
    <img
        class="w-full h-screen object-cover z-10"
        src="https://images.unsplash.com/photo-1576185850227-1f72b7f8d483?q=80&w=1902&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="https://images.unsplash.com/photo-1576185850227-1f72b7f8d483?q=80&w=1902&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    />
</header>
