---
import { db, Comment } from 'astro:db';

if (Astro.request.method === 'POST') {
  // parse form data
  const formData = await Astro.request.formData();
  const title = formData.get('title');
  const body = formData.get('body');
  const img = formData.get('img');
  if (typeof title === 'string' && typeof body === 'string' && typeof img === 'string' ) {
    // insert form data into the Comment table
    await db.insert(Comment).values({ title, body, img }); 
  }
}

// render the new list of comments on each request
const comments = await db.select().from(Comment);
---

<form method="POST" style="display: grid">
  <label for="title">Titulo</label>
  <input id="title" name="title" />

  <label for="img">Enlace imagen</label>
  <input id="img" name="img" />

  <label for="body">Contenido</label>
  <textarea id="boby" name="body"></textarea>

  <button type="submit">Submit</button>
</form>

<!--render `comments`-->