---
import { initCarousels } from "flowbite";

---
    
    
    <div
      class="col-span-4 row-span-4 bg-cover rounded-lg auto relative hover:scale-[1.02] cursor-pointer transition-transform"
    >
      <div id="default-carousel" class="" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
          <!-- Item 1 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <div
              class="bg-[url('https://playglobal.in/assets/images/childrenslides/csbig1.jpg')] col-span-4 sm:col-span-2 row-span-4 sm:row-span-2 bg-cover rounded-lg relative min-h-[500px] hover:scale-[1.02] cursor-pointer transition-transform"
            >
              <div
                class="absolute rounded-lg w-full h-full z-10 bg-gradient-to-b from-transparent to-black p-10"
              >
                <div class="flex flex-col h-full">
                  <h3 class="text-white text-2xl font-semibold">
                    Lorem ipsum dolor sit amet
                  </h3>
                  <p class="mt-5 text-white/85 text-sm font-light">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At
                    reiciendis perspiciatis beatae sit? Itaque doloremque
                    perferendis neque, quis natus sapiente repellat, at
                    veritatis provident optio consequatur nesciunt accusamus
                    dicta delectus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Item 2 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <div
              class="bg-[url('https://imagenes.elpais.com/resizer/iCh24KCb7LKPmy8xzN2-iaoHBpM=/980x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/S6CNNEIBWT2PC4OONBPKSXN2TA.jpg')] col-span-4 sm:col-span-2 row-span-4 sm:row-span-2 bg-cover rounded-lg relative min-h-[500px] hover:scale-[1.02] cursor-pointer transition-transform"
            >
              <div
                class="absolute rounded-lg w-full h-full z-10 bg-gradient-to-b from-transparent to-black p-10"
              >
                <div class="flex flex-col h-full">
                  <h3 class="text-white text-2xl font-semibold">
                    Lorem ipsum dolor sit amet
                  </h3>
                  <p class="mt-5 text-white/85 text-sm font-light">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At
                    reiciendis perspiciatis beatae sit? Itaque doloremque
                    perferendis neque, quis natus sapiente repellat, at
                    veritatis provident optio consequatur nesciunt accusamus
                    dicta delectus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Item 3 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <div
              class="bg-[url('https://lagdeguinea.com/wp-content/uploads/2023/05/10440_1365058050.jpg')] col-span-4 sm:col-span-2 row-span-4 sm:row-span-2 bg-cover rounded-lg relative min-h-[500px] hover:scale-[1.02] cursor-pointer transition-transform"
            >
              <div
                class="absolute rounded-lg w-full h-full z-10 bg-gradient-to-b from-transparent to-black p-10"
              >
                <div class="flex flex-col h-full">
                  <h3 class="text-white text-2xl font-semibold">
                    Lorem ipsum dolor sit amet
                  </h3>
                  <p class="mt-5 text-white/85 text-sm font-light">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At
                    reiciendis perspiciatis beatae sit? Itaque doloremque
                    perferendis neque, quis natus sapiente repellat, at
                    veritatis provident optio consequatur nesciunt accusamus
                    dicta delectus.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Slider indicators -->
        <div
          class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
        >
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="true"
            aria-label="Slide 1"
            data-carousel-slide-to="0"
          ></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 2"
            data-carousel-slide-to="1"
          ></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 3"
            data-carousel-slide-to="2"
          ></button>
        </div>
        <!-- Slider controls -->
        <button
          type="button"
          class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-prev
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 1 1 5l4 4"
              />
            </svg>
            <span class="sr-only">Previous</span>
          </span>
        </button>
        <button
          type="button"
          class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-next
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"
              />
            </svg>
            <span class="sr-only">Next</span>
          </span>
        </button>
      </div>
    </div>
